table {
    border-collapse: collapse; 
    table-layout: fixed;
    width: 100%;
}

table td {
    border: solid 1px black; 
    padding: 0.5em; 
    word-wrap: break-word;
}

table td div {
    height: 6em;
    overflow: hidden;
}

.table_container {
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
    width: 100%;
    border: solid 2px black; 
}

#address_div {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#left_pane {
    float: left;
    width: 30%;
}

#right_pane {
    display: inline-block;
    width: 60%;
    margin-left: 5em;
}

#pending_outputs_div, #pending_inputs_div {
    display: inline-block;   
    width: 42%;
    margin-left: -4px;
}

#navigation, #server_info {
    display: inline-block;
    vertical-align: top;
}

#new_address_form, #tx_preview_pane, #transaction_pane, #new_output_form, #compiler_pane, #send_pane, #explorer_pane, #block_show_div {
    display: none;
}

#pending_inputs_div h4 {
    display: inline-block;
}

#compiler_result {
    max-width: 40em;
    max-height: 20em;
    overflow: scroll;
    word-wrap: break-word;
}

h3 {
    display: inline-block;
}

#tx_preview_pane p, #block_show_div p {
    word-wrap: break-word;
    white-space: pre-wrap;
}

